/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//  @import "theme/soft-ui-dashboard";
//  @import '*';

@import 'theme/nucleo-icons';
@import 'theme/nucleo-svg';

.mh-100 {
    min-height: 100vh;
}

.form-wrapper {
     box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: 0.2);
}

.errors, .field_with_errors {
    color: red;

    .form-control {
        border-color: red;
    }
}